/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Main Styling */

html, body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7em;
}

a {
  text-decoration: none;
  color: #000;
  font-size: 1.25rem;
  font-weight: 700;
}

li {
  list-style-type: none;
  text-align: center;
  background-color: #FFF;
  padding: .75rem 0 .75rem 0;
  margin: 5px;
}

h1, h2, h3 {
  padding-bottom: 20px;
}

p {
  margin: 10px 0;
}

header img {
  display: block;
  width: 75%;
  margin: 20px auto;
}

.main-container {
  max-width: 320px;
  margin: 0 auto;
}

/* Header */

header {
  background-color: #F5F5F5;
}

.head-container {
  width: 90%;
  margin: 0 auto;
}

header p, header h1 {
  text-align: center;
  padding: 20px 0 20px 0;
  margin: 0;
}

